---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "がっこうそざいラボ";
const description = "ログイン不要。小学校でそのまま使えるフリーイラスト素材サイト。";
---

<BaseLayout title={title} description={description}>

<h2>ようこそ</h2>

<p>
ログイン不要。小学校でそのまま使えるフリーイラスト素材サイトです。
</p>
<p>
  <a href="/illustration/">▶ イラスト一覧を見る</a>
</p>

<hr />

</BaseLayout>