---
import "../styles/global.css";
import "../styles/illustration.css";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title} | がっこうそざいラボ</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6XLJ2F7M22"></script>
    <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6XLJ2F7M22');
    </script>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <header>
      <h1>
        <a href="/" style="text-decoration:none; color:black;">
          がっこうそざいラボ
        </a>
      </h1>
      <p>ログイン不要。小学校でそのまま使えるフリーイラスト素材サイト。</p>
      <hr />
    </header>

    <main>
      <slot />
    </main>

    <hr />

    <footer>
        <p>
            <a href="/terms">利用規約</a>
            <a href="/privacy-policy">プライバシーポリシー</a>
            <a href="/contact">お問い合わせ</a>
        </p>
      <p>© がっこうそざいラボ</p>
    </footer>
  </body>
</html>